<div class="card-body">
    <div class="row">
        {{#each model as |task|}}
        <div class="col-md-4 col-sm-6" style="padding:3px;">
            <div class="card text-center radius shadowDepth1">
                <div class="card__image border-tlr-radius">
                    <span>
                        {{task.desc}}
                    </span>

                </div>
                <div class="card-body">
                    <div class="card__share">
                        <a id="share" onclick={{action 'onEditTask' task}} class="share-toggle share-icon">
                            <span class="fa fa-pencil-alt"></span>
                        </a>
                        <a id="share" onclick={{action 'deleteTask' task}} class="share-toggle share-icon">
                            <span class="fa fa-trash text-red"></span>
                        </a>
                    </div>

                    <p class="row card-text">
                        <span>{{task.readabledate}}</span>
                    </p>
                </div>
                <div class="card-footer text-muted">
                    <div class="status-input">
                        <small>Status :</small>
                        <span class="badge badge-pill badge-primary">{{task.status}}</span>

                        <small>Priority :</small>
                        <span class={{task.priorityClass}}>{{task.priority}}</span>

                        {{#if task.reminderenabled}}
                        <span class="float-right fa fa-bell fa-2x"></span>
                        {{/if}} {{#if task.enablemail}}
                        <span class="float-right fa fa-envelope fa-2x mx-2"></span>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}} {{task-view activeTask=activeTask redirect="redirect"}}
    </div>
</div>